@import "tailwindcss";


:root {
  --color-bg-main: #FBE5E2;
  --color-bg-soft: #ffffff;
  
  --color-primary: #E76172;
  --color-primary-soft: #F2A5B0;
  --color-accent: #CA8F87;
  --color-secondary: #FFCCD3;
  --color-tertiary: #C56778;

  --color-text-main: #7D7777;
  --color-text-dark: #000000;
  --color-footer-bg: #F5ECEB;
--color-footer-title: #E76172;
--color-footer-text: #7D7777;
--color-footer-copyright: #5A4B48;
--color-navbar: #fffffc;
  
  
}
body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: 'Poppins', 'Cormorant Garamond', serif;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  color: var(--color-accent);
  font-weight:bolder;
}

h4, h3,h2 {
  font-family: 'Cormorant Garamond', serif;
  
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeInScale 0.7s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}