@import "tailwindcss";


:root {
  --color-bg-main: #FBE5E2;
  --color-bg-soft: #ffffff;
  
  --color-primary: #E76172;
  --color-primary-soft: #FFA1AD;
  --color-accent: #CA8F87;

  --color-text-main: #7D7777;
  --color-text-dark: #000000;
  
}
body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: 'Poppins', 'Cormorant Garamond', serif;
}
h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  color: var(--color-accent);
  font-weight:bolder;
}