@import "tailwindcss";

:root {
:root {
  --color-bg-main: #FBE5E2;
  --color-bg-soft: #ffffff;
  
  --color-primary: #E76172;
  --color-primary-soft: #FFA1AD;
  --color-accent: #CA8F87;

  --color-text-main: #7D7777;
  --color-text-dark: #000000;
}
}